.nameautocomplete {
  border: solid 2px;
  width: 400px;
  height: 35px
}

.nameautocomplete-valid {
  color: green;
  font-weight: bold;
}

.nameautocomplete-invalid {
  color: red;
}

.nameautocomplete-selected {
  background-color: black;
  color: white;
}
